<header class="headerBotones d-flex justify-content-between align-items-center p-3 bg-info text-white">
  <div>
    <button type="button" class="btn btn-transparent text-white fw-bold fs-4">OtterHub</button>
  </div>

  <nav class="d-flex gap-3 align-items-center">
    <button type="button" class="btn btn-transparent text-white">Inicio</button>
    <button type="button" class="btn btn-transparent text-white">Tendencia</button>
    <button type="button" class="btn btn-transparent text-white">Categoría</button>
  </nav>

  <form class="d-flex gap-2 align-items-center">
    <input class="form-control form-control-sm" type="search" placeholder="Buscar...">
    <button class="btn btn-outline-light btn-sm" type="submit">
      <i class="bi bi-search"></i>
    </button>
  </form>

  <div class="d-flex gap-2">
    <button type="button" class="btn btn-outline-light btn-sm" (click)="toogleLogin()">Iniciar sesión</button>
    <button type="button" class="btn btn-light text-info btn-sm fw-semibold" (click)="toggleRegister()">Registrarse</button>
  </div>
</header>

<app-conten-principal></app-conten-principal>

@if (openLogin()) {
  <app-login (fnToggleLoginHeader)="toogleLogin()"></app-login>
}
@if (openRegister()) {
  <app-register (fnToggleRegisterHeader)="toggleRegister()"></app-register>
}
