<div class="modal-backdrop">
  <div class="modal-container bg-white p-4 rounded shadow">
    <h4 class="text-center mb-3 text-success">Crear cuenta</h4>
    <form method="post" [formGroup]="registerForm"
          (ngSubmit)="registrame()">
      <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input id="name" type="text" class="form-control" placeholder="Tu nombre" formControlName="nombre">
      </div>
      <div class="mb-3 form-floating">
        <input formControlName="apellidos" type="text" id="apellidosRegister" class="form-control"
               placeholder="Doe">
        <label class="form-label" for="apellidosRegister">Apellidos</label>
      </div>


      <div class="mb-3">
        <input
          formControlName="email"
          type="text" id="emailRegister"
          class="form-control"
          [ngClass]="[
                    registerForm.get('email')?.touched && registerForm.get('email')?.errors ? 'is-invalid': '',
                    registerForm.get('email')?.touched && !registerForm.get('email')?.errors ? 'is-valid': '',
                    ]"
          placeholder="...@correo.com">
        <label class="form-labelr" for="emailRegister">Correo electrónico</label>
        @if (registerForm.get("email")?.touched) {
          @if (registerForm.get("email")?.errors?.['required']) {
            <div class="form-text text-end text-danger">El campo es obligatorio</div>
          }
          @if (registerForm.get("email")?.errors?.['email']) {
            <div class="form-text text-end text-danger">Correo no válido</div>
          }
          @if (registerForm.get("email")?.errors?.['extension']) {
            <div class="form-text text-end text-danger">Solo aceptamos gmail y hotmail</div>
          }
          @if (registerForm.get("email")?.errors?.['customEmail']) {
            <div class="form-text text-end text-danger">Correo no válido</div>
          }
        }
      </div>

      <div class="mb-3 ">
        <input formControlName="password1" type="password" id="password1Registro"
               class="form-control"
               placeholder="******"
               [ngClass]="[
                    registerForm.get('password1')?.touched && registerForm.get('password1')?.errors ? 'is-invalid': '',
                    registerForm.get('password1')?.touched && !registerForm.get('password1')?.errors ? 'is-valid': '',
                    ]">
        <label class="form-label" for="password1Registro">Contraseña</label>
        @if (registerForm.get("password1")?.touched) {
          @if (registerForm.get("password1")?.errors?.['required']) {
            <div class="form-text text-end text-danger">El campo es obligatorio</div>
          }
          @if (registerForm.get("password1")?.errors?.['customPassword']) {
            <div class="form-text text-end text-danger">
              La contraseña debe de contener al menos una minúscula, una mayúscula y un número
            </div>
          }
          @if (registerForm.get("password1")?.errors?.['minlength']) {
            <div class="form-text text-end text-danger">Longitud minima de 5 caracteres</div>
          }
        }
      </div>


      <div class="mb-3 ">
        <input
          formControlName="password2"
          type="password"
          id="password2Registro"
          class="form-control"
          [ngClass]="[
                    registerForm.get('password2')?.touched && registerForm.get('password2')?.errors ? 'is-invalid': '',
                    registerForm.get('password2')?.touched && !registerForm.get('password2')?.errors ? 'is-valid': '',
                    ]"
          placeholder="******">
        <label class="form-label" for="password2Registro">Repetir contraseña</label>
        @if (registerForm.get("password2")?.touched) {
          @if (registerForm.get("password2")?.errors?.['required']) {
            <div class="form-text text-end text-danger">El campo es obligatorio</div>
          }
          @if (registerForm.get("password2")?.errors?.['customPassword']) {
            <div class="form-text text-end text-danger">
              La contraseña debe de contener al menos una minúscula, una mayúscula y un número
            </div>
          }
          @if (registerForm.get("password2")?.errors?.['minlength']) {
            <div class="form-text text-end text-danger">Longitud minima de 5 caracteres</div>
          }
        }
      </div>
      <div>
        <button type="submit" class="btn btn-success w-100">Registrarse</button>
      </div>
    </form>
    <button class="btn btn-link text-secondary w-100 mt-3" (click)="fnToggleRegisterHeader.emit()">Cerrar</button>
  </div>
</div>
